{% extends 'base.html.twig' %}

{% block title %}Economik0 - Inicio{% endblock %}

{% block body %}
<div class="container">
    <div class="row min-vh-100 align-items-center justify-content-center">
        <div class="col-lg-8">
            <div class="hero-text-box text-center">
                <h1 class="display-1 fw-bold">Economik<span class="zero-color">0</span></h1>
                <p class="lead fs-3 mb-4 text-secondary">
                    La conexión directa con el campo. <br>
                    Fresco como siempre, al precio justo.
                </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}