security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            
            # Formulario de login con redirección por roles
            form_login:
                login_path: app_login
                check_path: app_login
                username_parameter: email
                password_parameter: password
                success_handler: App\Security\AuthenticationSuccessHandler
                enable_csrf: true
            
            # Logout
            logout:
                path: app_logout
                target: index
            
            # Remember me (opcional)
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 semana
                path: /

    # Jerarquía de roles
    role_hierarchy:
        ROLE_PROVEEDOR: ROLE_USER
        ROLE_ADMIN: [ROLE_PROVEEDOR, ROLE_USER]

    # Control de acceso
    access_control:
        - { path: ^/admin, roles: ROLE_PROVEEDOR }
        - { path: ^/tienda, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
